.app-sidebar {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 60px);
    width: 70px;
    background-color: #4f46e5;
    & > .routes {
        flex: 1;
    }
    &.admin {
        width: 200px;
    }
}